<div class="w-75 mx-auto py-d pt-5 signup">
  <h4 class="pb-2">S'inscrire maintenant:</h4>
  <div class="alert alert-danger" *ngIf="apiError">
    {{ apiError }}
  </div>
  <form (ngSubmit)="handelRegister(registerForm)" [formGroup]="registerForm">
    <label for="name">nom:</label>
    <input
      type="text"
      formControlName="name"
      id="name"
      class="form-control mb-2"
    />
    <div
      *ngIf="
        registerForm.get('name')?.errors && registerForm.get('name')?.touched
      "
      class="alert alert-danger"
    >
      <p class="m-0" *ngIf="registerForm.get('name')?.getError('minlength')">
        nom minLength est 3
      </p>
      <p class="m-0" *ngIf="registerForm.get('name')?.getError('maxlength')">
        nom maxLength est 10
      </p>
      <p class="m-0" *ngIf="registerForm.get('name')?.getError('required')">
        Le nom est requis
      </p>
    </div>
    <label for="email">email:</label>
    <input
      type="email"
      formControlName="email"
      id="email"
      class="form-control mb-2"
    />
    <div
      *ngIf="
        registerForm.get('email')?.errors && registerForm.get('email')?.touched
      "
      class="alert alert-danger"
    >
      <p class="m-0" *ngIf="registerForm.get('email')?.getError('email')">
        E-mail invalide
      </p>
      <p class="m-0" *ngIf="registerForm.get('email')?.getError('required')">
        L'e-mail est requis
      </p>
    </div>
    <label for="password">password:</label>
    <input
      type="password"
      formControlName="password"
      id="password"
      class="form-control mb-2"
    />
    <div
      *ngIf="
        registerForm.get('password')?.errors &&
        registerForm.get('password')?.touched
      "
      class="alert alert-danger"
    >
      <p class="m-0" *ngIf="registerForm.get('password')?.getError('pattern')">
        Saisissez au moins huit caractères, au moins une lettre, un chiffre et un caractère spécial
      </p>
      <p class="m-0" *ngIf="registerForm.get('password')?.getError('required')">
        Mot de passe est requis
      </p>
    </div>
    <label for="rePassword">rePassword</label>
    <input
      type="password"
      formControlName="rePassword"
      id="rePassword"
      class="form-control mb-2"
    />
    <div
      *ngIf="
        registerForm.get('rePassword')?.errors &&
        registerForm.get('rePassword')?.touched
      "
      class="alert alert-danger"
    >
      <p
        class="m-0"
        *ngIf="registerForm.get('rePassword')?.getError('pattern')"
      >
        Entrez au moins huit caractères, au moins une lettre et un chiffre
      </p>
      <p
      class="m-0"
      *ngIf="registerForm.get('rePassword')?.getError('passwordMatch')"
    >
    le mot de passe et le rePassword ne correspondent pas
    </p>
      <p
        class="m-0"
        *ngIf="registerForm.get('rePassword')?.getError('required')"
      >
        password est requis
      </p>
    </div>
    <label for="phone">phone:</label>
    <input
      type="tel"
      formControlName="phone"
      id="phone"
      class="form-control mb-2"
    />
    <div
      *ngIf="
        registerForm.get('phone')?.errors && registerForm.get('phone')?.touched
      "
      class="alert alert-danger"
    >
      <p class="m-0" *ngIf="registerForm.get('phone')?.getError('pattern')">
        Entrez un téléphone senegal valide
      </p>
      <p class="m-0" *ngIf="registerForm.get('phone')?.getError('required')">
        phone est requis
      </p>
    </div>
    <button
      [disabled]="registerForm.invalid"
      type="submit"
      class="btn bg-main border-0 text-white"
    >
      <i class="fas fa-spinner fa-spin mb-3" *ngIf="isLoding"></i>
      <span *ngIf="!isLoding">Register</span>
    </button>
  </form>
</div>
